<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document    : config.xml
    Creado      : 15 de noviembre de 2008, 07:29 PM
    Author      :
        /* Author Phesus        //////////////////////////////
        *  ORC,ACR             /////////////
        *                     /////////////
        *                    /////////////
        *                   /////////////
        * //////////////////////////////                   */
    Description :
        puerto serial        linux : /dev/ttySX     windows: COMX
        puerto paralelo      linux : /dev/lpX       windows: LPTX:
        puerto serial a usb  linux : /dev/ttyUSBX   windows: COMX
        X es el valor del puerto en el que se encuentra
-->

<document>
    <resolucionPantalla ancho='1024' alto='768'/>
    <cacheSTable atras='3' adelante='5'/>
    <URLServidor>http://5.236.200.140:5542</URLServidor>
    <URLMySQL>jdbc:mysql://5.236.200.140/omoikane</URLMySQL>
    <impresoraActiva>false</impresoraActiva>
    <puertoImpresion>LPT1:</puertoImpresion>
    <scannerActivo>false</scannerActivo>
    <ScannerPort>COM4</ScannerPort>
    <ScannerBaudRate>9600</ScannerBaudRate>
    <basculaActiva>false</basculaActiva>
    <puertoBascula>COM2</puertoBascula>
    <fondoBlur>false</fondoBlur>
    <idAlmacen>1</idAlmacen>
    <idCaja>1</idCaja>
</document>
