<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document    : config.xml
    Creado      : 15 de noviembre de 2008, 07:29 PM
    Author      :
        /* Author Phesus        //////////////////////////////
        *  ORC,ACR             /////////////
        *                     /////////////
        *                    /////////////
        *                   /////////////
        * //////////////////////////////                   */
   
-->

<document>
    <loginJasper>Jasper</loginJasper>
    <passJasper>gatogato</passJasper>
    <URLMySQL>jdbc:mysql://sfmvaldez.poweredbyclear.com:3307/omoikane?useCompression=true</URLMySQL>
</document>
