
.label {
    -fx-text-fill: ghostwhite;
}
.table-view {
    -fx-background-color: darkslategray;
}
.table-row-cell {
    -fx-background-color: darkslategray;
}
.cell {
    -fx-text-fill: ghostwhite;
    -fx-font-size: 16px;
}
.table-row-cell:filled:selected  {
    -fx-background-color: #181818;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #181818;
    -fx-border-color: #181818;
}
.tool-bar {
    -fx-background-color: #181818;
}
.button {
    -fx-background-color: darkslategray;
    -fx-text-fill: ghostwhite;
}
.button:pressed {
    -fx-background-color: slategray;
}
.button:focused {
    -fx-border-color: slategray;
}
.text-field {
    -fx-background-color: darkslategray;
    -fx-text-fill: ghostwhite;
}
.anchor-pane {
	-fx-background-color: transparent;
}
.split-pane {
	-fx-background-color: transparent;
}
