<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:hades="http://schemas.synyx.org/hades"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/jdbc
            http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
            http://schemas.synyx.org/hades
            http://schemas.synyx.org/hades/hades.xsd">


    <context:annotation-config/>

    <context:component-scan base-package="omoikane.entities"/>
    <context:component-scan base-package="omoikane.inventarios"/>
    <!--<context:component-scan base-package="omoikane.sistema"/>-->
    <bean id="articulo" class="omoikane.producto.Articulo"></bean>
    <bean id="baseParaPrecio" class="omoikane.producto.BaseParaPrecio"></bean>
    <bean id="usuarios" class="omoikane.sistema.Usuarios"></bean>
    <bean id="cajaLogic" class="omoikane.caja.business.CajaLogicImpl"></bean>
    <bean id="huellasCache" class="omoikane.sistema.huellas.HuellasCache"></bean>
    <bean id="config" class="omoikane.sistema.Config"></bean>
    <bean id="productoDao" class="omoikane.caja.data.ProductosNadesicoAdapter"></bean>
    <bean id="comprobantes" class="omoikane.sistema.Comprobantes"></bean>
    <bean id="paqueteController" class="omoikane.producto.PaqueteController"></bean>

    <bean id="/SpringAnnotatedConfig" class="omoikane.sistema.SpringAnnotatedConfig"></bean>
    <bean id="properties" class="java.util.HashMap"></bean>

    <hades:dao-config base-package="omoikane.repository"
                      entity-manager-factory-ref="entityManagerFactory">
        <hades:dao id="usuarioRepo" />
        <hades:dao id="productoRepo" />
        <hades:dao id="ventaRepo" />
        <hades:dao id="proveedorRepo" />
        <hades:dao id="cancelacionRepo" />
        <hades:dao id="conteoInventarioRepo" />
        <hades:dao id="cajaRepo" />
    </hades:dao-config>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.springframework.util.Log4jConfigurer"/>
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" scope="singleton">
        <property name="shared" value="true"/>
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="password" value="#{ T(omoikane.principal.Principal).passJasper }"/>
        <property name="username" value="#{ T(omoikane.principal.Principal).loginJasper }"/>
        <property name="url" value="#{ T(omoikane.principal.Principal).URLMySQL }"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true"/>
                <property name="database" value="MYSQL"/>
            </bean>
        </property>
        <!--<property name="persistenceXmlLocation" value="persistence.xml"/>-->
        <property name="persistenceUnitName" value="OmoikanePU"/>

    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

    <tx:annotation-driven/>

</beans>