<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hades="http://schemas.synyx.org/hades"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://schemas.synyx.org/hades
            http://schemas.synyx.org/hades/hades.xsd">

    <bean id="/ArtemisaSpringAnnotatedConfig" class="omoikane.artemisa.ArtemisaSpringAnnotatedConfig"></bean>
    <bean id="properties" class="java.util.HashMap"></bean>

    <hades:dao-config base-package="omoikane.artemisa"
                      entity-manager-factory-ref="entityManagerFactory">
        <hades:dao id="pacienteRepo" />
        <hades:dao id="cancelacionTransaccionDAO" />
        <hades:dao id="transaccionDAO" />
    </hades:dao-config>

</beans>